---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Hackomania 2024">
  <main class="bg-background h-screen">
    <header class="container mx-auto py-8">
      <span class="font-code font-semibold text-purple"> HackOMania 2024</span>
    </header>
  </main>
</Layout>
