---
import { Image } from "astro:assets";

import "swiper/css/bundle";

const images = await Astro.glob("../assets/album/*.{png,jpeg,JPG}");
---

<script>
import { Swiper } from "swiper";
import { Pagination, Autoplay } from "swiper/modules";

new Swiper(".swiper", {
  modules: [Pagination, Autoplay],
  slidesPerView: 1,
  spaceBetween: 28,
  centeredSlides: true,
  autoplay: {
    pauseOnMouseEnter: true,
    delay: 2500,
  },
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
    dynamicBullets: true,
  },
});
</script>

<div class="swiper relative">
	<div class="swiper-wrapper">
		{
			images.map((img) => {
				return (
					<div class="swiper-slide md:px-10 md:py-2">
						<Image
							src={img.default}
							alt="HackOMania!"
							class="md:h-96 lg:h-[475px] object-contain object-center aspect-video!"
						/>
					</div>
				);
			})
		}
	</div>
	<div class="swiper-pagination" />
</div>

<style lang="postcss">
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  @apply text-app-red;
}
</style>
