---
import { Image } from "astro:assets";

import "swiper/css/bundle";

const images = await Astro.glob("../assets/album/*.{png,jpeg}");
---

<script>
import { Swiper } from "swiper";
import { Navigation, Pagination } from "swiper/modules";

new Swiper(".swiper", {
  modules: [Navigation, Pagination],
  slidesPerView: 1,
  spaceBetween: 28,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  pagination: {
    el: ".swiper-pagination",
    type: "bullets",
    clickable: true,
  },
});
</script>

<div class="swiper relative">
	<div class="swiper-wrapper">
		{
			images.map((img) => {
				return (
					<div class="swiper-slide md:px-10 md:py-2">
						<Image
							src={img.default}
							alt="HackOMania!"
							class="md:h-96 lg:h-[475px] object-contain object-center aspect-video!"
						/>
					</div>
				);
			})
		}
	</div>
	<div class="hidden md:block">
    <button class="swiper-button-next"></button>
		<button class="swiper-button-prev"></button>
	</div>
</div>

<style lang="postcss">
.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  @apply text-app-red;
}
</style>
