<div class="rounded-[10px] overflow-hidden bg-white shadow-lg">
  <div class="bg-gray-200 w-full h-9 px-4 py-3">
      <div class="flex flex-row gap-2 items-center">
          <div class="bg-[#FF5F57] w-[14px] h-[14px] rounded-full" />
          <div class="bg-[#FFBC2F] w-[14px] h-[14px] rounded-full" />
          <div class="bg-[#2BC840] w-[14px] h-[14px] rounded-full" />
      </div>
  </div>
  <slot />
</div>