<script>
  const endDate = new Date('2024-04-06T08:00:00');

  function calculateTimeRemaining() {
    const now = new Date();
    const timeDifference : number = endDate.getTime() - now.getTime();

    const days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
    const hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    const minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
    const seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

    // Update the CountdownParagraph components
    const daysElement = document.getElementById('days');
    if (daysElement) {
      daysElement.innerText = `${days} days`;
    }
    const hoursElement = document.getElementById('hours');
    if (hoursElement) {
      hoursElement.innerText = `${hours} hours`;
    }
    const minutesElement = document.getElementById('minutes');
    if (minutesElement) {
      minutesElement.innerText = `${minutes} minutes`;
    }
    const secondsElement = document.getElementById('seconds');
    if (secondsElement) {
      secondsElement.innerText = `${seconds} seconds`;
    }
  }

  // Initial time rendered
  calculateTimeRemaining();

  // To update the rendered data every second
  setInterval(calculateTimeRemaining, 1000);
</script>

<div class="rounded-lg bg-white shadow-md flex items-center justify-center p-2">
  <span id="days" class="text-app-purple font-code" />
</div>

<div class="rounded-lg bg-white shadow-md flex items-center justify-center p-2">
  <span id="hours" class="text-app-purple font-code" />
</div>

<div class="rounded-lg bg-white shadow-md flex items-center justify-center p-2">
  <span id="minutes" class="text-app-purple font-code" />
</div>

<div class="rounded-lg bg-white shadow-md flex items-center justify-center p-2">
  <span id="seconds" class="text-app-purple font-code" />
</div>