<div id="countdown" class="flex space-x-1 rounded-lg bg-white pt-1 md:pt-2 px-6 drop-shadow-lg text-app-purple font-code font-semibold text-sm md:text-3xl ">
    <span class="flex flex-col justify-center items-center">
        <span id="days" />
        <span class="text-[8px] md:text-[10px] -mt-2 md:-mt-4">day</span>
    </span>
    <span>:</span>
    <span class="flex flex-col justify-center items-center">
        <span id="hours" />
        <span class="text-[8px] md:text-[10px] -mt-2 md:-mt-4">hr</span>
    </span>
    <span>:</span>
    <span class="flex flex-col justify-center items-center">
        <span id="minutes" />
        <span class="text-[8px] md:text-[10px] -mt-2 md:-mt-4">min</span>
    </span>
    <span>:</span>
    <span class="flex flex-col justify-center items-center">
        <span id="seconds" />
        <span class="text-[8px] md:text-[10px] -mt-2 md:-mt-4">sec</span>
    </span>
</div>