---
import HackOManiaLogo from '../components/HackOManiaLogo.astro'
---
<div class="w-[300px] md:w-[600px]">
	<HackOManiaLogo />
</div>

<!-- <div class="flex space-x-4">
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
        <ClockBox>00</ClockBox>
      </div> -->

<div class="flex flex-col md:flex-row">
	<button
		type="button"
		class="text-white uppercase font-code bg-app-red hover:rose-800 font-medium rounded-lg text-sm px-4 py-2.5 me-2 mb-2 dark:hover:bg-rose-700 focus:outline-none">
		Registration coming soon!
	</button>
	<a
		target="_blank"
		href="//hackomania2019.geekshacking.com"
		target="_blank"
		type="button"
		class="uppercase font-code text-app-red font-semibold hover:text-rose-800 rounded-lg text-sm px-4 py-2.5 me-2 mb-2 focus:outline-none">
		Visit our 2019 website!</a
	>
</div>
